<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.huangyuhui.sms.dao.GradeMapper">

    <!-- 根据年级名称查询指定/全部年级信息列表 -->
    <select id="selectList" parameterType="grade" resultType="pers.huangyuhui.sms.bean.Grade">
        SELECT id, name, manager, email, telephone, introducation
        FROM ssm_sms.tb_grade
        <where>
            <if test="name!=null and name!=''">
                AND name LIKE concat(concat('%',#{name}),'%')
            </if>
        </where>
    </select>

    <!-- 查询所有年级列表信息(用于在班级管理页面中获取年级信息) -->
    <select id="selectAll" resultType="pers.huangyuhui.sms.bean.Grade">
        SELECT id, name, manager, email, telephone, introducation
        FROM ssm_sms.tb_grade
    </select>

    <!-- 根据年级名称查询指定年级信息 -->
    <select id="findByName" parameterType="String" resultType="pers.huangyuhui.sms.bean.Grade">
        SELECT id, name, manager, email, telephone, introducation
        FROM ssm_sms.tb_grade
        WHERE name = #{name}
    </select>

    <!-- 添加年级信息 -->
    <insert id="insert" parameterType="grade">
        INSERT INTO ssm_sms.tb_grade(name, manager, email, telephone, introducation)
        VALUES (#{name}, #{manager}, #{email}, #{telephone}, #{introducation})
    </insert>

    <!-- 根据id更新指定年级信息 -->
    <update id="update" parameterType="grade">
        UPDATE ssm_sms.tb_grade
        SET name=#{name},
            manager=#{manager},
            email=#{email},
            telephone=#{telephone},
            introducation=#{introducation}
        WHERE id = #{id}
    </update>

    <!-- 根据id批量删除指定的年级信息 -->
    <delete id="deleteById">
        DELETE FROM ssm_sms.tb_grade WHERE id IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

</mapper>